################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/pkRepo/FileContentIndex/e656c000-73c0-480c-b458-af48d5ba1f78.vsidx
